01_Learn_the_basics/if_elseif
01_Learn_the_basics/input_output
.DS_Store
01_Learn_the_basics/patterns_1
01_Learn_the_basics/switch_case
01_Learn_the_basics/Basic_Math/armstrong_number
01_Learn_the_basics/Basic_Math/check_for_prime
01_Learn_the_basics/Basic_Math/count_all_digits_of_a_number
01_Learn_the_basics/Basic_Math/gcd_of_2_numbers
01_Learn_the_basics/Basic_Math/palindrome_number
01_Learn_the_basics/Basic_Math/print_all_divisors
01_Learn_the_basics/Basic_Math/reverse_a_number
01_Learn_the_basics/Learn_Basic_Hashing/frequency_of_array_elements
01_Learn_the_basics/Learn_Basic_Hashing/highes_occuring_element
01_Learn_the_basics/Learn_Basic_Recursion/1_to_n_recursion
01_Learn_the_basics/Learn_Basic_Recursion/factorial_of_n
01_Learn_the_basics/Learn_Basic_Recursion/fibonacci_number
01_Learn_the_basics/Learn_Basic_Recursion/n_to_1_backtracking
01_Learn_the_basics/Learn_Basic_Recursion/n_to_1_recursion
01_Learn_the_basics/Learn_Basic_Recursion/reverse_an_array
01_Learn_the_basics/Learn_Basic_Recursion/string_palindrome
01_Learn_the_basics/Learn_Basic_Recursion/sum_of_first_n_numbers
02_Sorting_Techniques/merge_sort
02_Sorting_Techniques/quick_sort
02_Sorting_Techniques/recursive_bubble_sort
02_Sorting_Techniques/recursive_insertion_sort
02_Sorting_Techniques/sorting_1
03_Arrays/1_Easy/check_if_array_is_sorted
03_Arrays/1_Easy/find_missing_number
03_Arrays/1_Easy/largest_element
03_Arrays/1_Easy/left_rotate_array_by_K_places
03_Arrays/1_Easy/left_rotate_array_by_one
03_Arrays/1_Easy/linear_search
03_Arrays/1_Easy/longest_subarray_with_sum_k
03_Arrays/1_Easy/maximum_consecutive_ones
03_Arrays/1_Easy/move_zeros_to_end
03_Arrays/1_Easy/remove_duplicates_from_sorted_array
03_Arrays/1_Easy/second_largest_element
03_Arrays/1_Easy/single_number_1
03_Arrays/1_Easy/Union_of_2_sorted_arrays
03_Arrays/2_Medium/1_two_sum
03_Arrays/2_Medium/2_array_sort_0s_1s_2s
03_Arrays/2_Medium/3_majority_element-1
03_Arrays/2_Medium/4_kadanes_algorithm
03_Arrays/2_Medium/5_kadanes_algorithm_extended
